{
  "flutter": {
    "platforms": {
      "android": {
        "default": {
          "projectId": "your_project_id_here",
          "appId": "your_android_app_id_here",
          "fileOutput": "android/app/google-services.json"
        }
      },
      "dart": {
        "lib/firebase_options.dart": {
          "projectId": "your_project_id_here",
          "configurations": {
            "android": "your_android_app_id_here",
            "macos": "your_macos_app_id_here",
            "web": "your_web_app_id_here",
            "windows": "your_windows_app_id_here"
          }
        }
      }
    }
  },
  "functions": [
    {
      "source": "functions",
      "codebase": "default",
      "ignore": [
        "node_modules",
        ".git",
        "firebase-debug.log",
        "firebase-debug.*.log",
        "*.local"
      ],
      "predeploy": [
        "npm --prefix \"$RESOURCE_DIR\" run build"
      ]
    }
  ],
  "hosting": {
    "public": "build/web",
    "ignore": [
      "firebase.json",
      "**/.*",
      "**/node_modules/**"
    ]
  }
}
