name: Build Android App

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # タグを作成・プッシュするために必要
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # 全履歴を取得してタグを確認するため

      - name: Manage version tag
        id: version_tag
        uses: ./.github/actions/manage-version-tag

      - name: Setup Flutter
        uses: ./.github/actions/setup-flutter
        with:
          flutter-version: "3.29.2"
          google-service-json: ${{ secrets.GOOGLE_SERVICES_JSON }}
          env-file-content: ${{ secrets.ENV_FILE }}

      # minSdkVersionが低いとビルドエラーになる。強制的に置き換える。
      # 本当はflutter.minSdkVersionの本来の値を変更できるのが一番いいが、、
      - name: Override flutter.minSdkVersion
        run: |
          sed -i 's/flutter\.minSdkVersion/23/g' ./android/app/build.gradle.kts

      - name: Build the app
        run: flutter build apk --release

      - name: Rename APK with version
        run: |
          mv build/app/outputs/flutter-apk/app-release.apk build/app/outputs/flutter-apk/travel_app_${{ steps.version_tag.outputs.build_version }}.apk

      - name: Upload the app
        uses: actions/upload-artifact@v4
        with:
          name: travel_app_${{ steps.version_tag.outputs.build_version }}.apk
          path: build/app/outputs/flutter-apk/travel_app_${{ steps.version_tag.outputs.build_version }}.apk
          retention-days: 1
