name: Build and Deploy Web App

on:
  workflow_dispatch:
#   push:
#     branches:
#       - main  

jobs:
  build_deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # タグを作成・プッシュするために必要
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # 全履歴を取得してタグを確認するため
          
      - name: Manage version tag
        id: version_tag
        uses: ./.github/actions/manage-version-tag
          
      - name: Setup Flutter
        uses: ./.github/actions/setup-flutter
        with:
          flutter-version: '3.29.2'
          google-service-json: ${{ secrets.GOOGLE_SERVICES_JSON }}
          env-file-content: ${{ secrets.ENV_FILE }}
          firebase-json: ${{ secrets.FIREBASE_JSON }}
      
      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Build the Web
        run: flutter build web --release

      - name: Deploy the Web
        run: firebase deploy --only hosting --token ${{ secrets.FIREBASE_TOKEN }} --message "Deploy version ${{ steps.version_tag.outputs.build_version }}"