name: Build and Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
          
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.29.2'          

      - name: Install dependencies
        run: flutter pub get

      - name: copy google-service
        env:
          GOOGLE_SERVICE: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: echo $GOOGLE_SERVICE | base64 --decode --ignore-garbage > ./android/app/google-services.json
      
      - name: Build the app
        run: flutter build apk --release

      # - name: Deploy to Firebase
      #   uses: wzieba/firebase-action@v1
      #   with:
      #     action: deploy
      #     projectId: ${{ secrets.FIREBASE_PROJECT_ID }}
